{% extends "news/layout.html" %}

{% block content %}
<h2>Страница авторизованного пользователя
  <strong>
    {{request.user.username}}
  </strong>
</h2>
<div>
  You have successfully subscribed to:
  <ul>

    {% for category in categories%}
    {% if request.user == category.get_user %}
    <li>
      {{category.get_category}}
      <a href="{% url 'news:unsub_cat' category.get_cat.id %}">
        <button class="button-xsmall pure-button button-warning">
          <i class="bi bi-bookmark-plus"></i>
          Unsubscribe
        </button>
      </a>
    </li>
    {%endif%}
    {%endfor%}
  </ul>
</div>

{% if is_not_authors %}

<p>
  If you want to be an author and post in this blog, press the button below
</p>
<a href="{% url 'sign:upgrade' %}">
  <button class="button-warning pure-button">
    Make me an Author!
  </button>
</a>
{% endif %}

<a href="{% url 'sign:logout'}">
  <button class="button-primary pure-button">
    Выйти
  </button>
</a>
{% endblock %}